/* Write your CSS below */






/*fonts*/

@font-face {
  font-family: 'SharpSansBlack';
  src: url('../assets_from_client/fonts/SharpSans-No1-Black.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'SharpSansMedium';
  src: url('../assets_from_client/fonts/SharpSans-No1-Medium.otf');
  font-weight: normal;
}


/*header tags*/

h1, h2{
	color:  white;
	font-family:  'SharpSansBlack';
	text-transform:  uppercase;
	letter-spacing: 2px;
}

h1{
	padding-top:  150px;
}

h2{
	margin-top:  40px;
	margin-bottom:  0px;
}

/*form*/

label{
	font-family:  'SharpSansMedium';
	font-size:  12px;
	display: inline-block;
	width:  25%;
}

::placeholder{
	font-family:  'SharpSansMedium';
	font-size:  12px;
	width:  100%;
}

#signUp {
	/*background-color: yellow;*/
}


form.register-form, form.signin-form {
	padding: 40px;
	border:  1px solid #5AC8E0;
    background-color: black;
    width: 600px;
    position:  relative;


}

#triangle {
	width: 126;
    height: 70px;
    clip-path: polygon(00% 100%, 100% 0%, 100% 100%);
    position: absolute;
    background-color: #5AC8E0;
    z-index: 1;
    left: 473px;
    top: 462px;
}


form.register-form::before, form.signin-form::after {
    content: '';
    position: relative;
    top: 387px;
    right: -510px;
    border-color: transparent;
    border-style: solid;
}

form.register-form::before, form.signin-form::before {
    /*border-width: 1.5em;
    border-right-color: #5AC8E0;
    border-bottom-color: #5AC8E0;*/
}

form.register-form::after, form.signin-form::after{
    /*border-radius: 0.4em;*/
    /*border-width: 1.5em;*/
    /*border-right-color: #5AC8E0;
    border-bottom-color: #5AC8E0a;*/
}



.form-group {
    padding-top: 20px;
}

img{
	margin:  0px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
}

input[type="submit"] {
	margin-top:  15px;
    font-family: 'SharpSansBlack';
    color: black;
    padding: 10px 20px;
    background-color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:  none;
}

input[type="text"], input[type="email"], input[type="password"] {
	text-transform: capitalize;
	height:  30px;
	/*margin-left:  20px;*/
	flex-grow:  1;
	width:  70%;
}


button{
	font-family: 'SharpSansBlack';
	padding: 5px 10px;
	letter-spacing: 1px;
    text-transform: uppercase;
    border:  none;
    border-top-left-radius:  5px;
	border-top-right-radius:  5px;
	background-color:  rgb(255,255,255, .5);
	padding:  10px;

}

button.active {
	background-color: #5AC8E0;
	color:  white;
}


/*layout*/

div#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.actions{
	display: flex;
    align-self:  flex-start;
    flex-direction: row;
}

body{
	background-image: url("../assets_from_client/assets/login-bg.jpg");
	height:  600px;
	color:  white;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom:  150px;
}

.triangleBottomRight {
}


/*media queries*/

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  /*and (-webkit-min-device-pixel-ratio: 2)*/
  /*and (orientation: portrait) */
  {
  	form.register-form, form.signin-form {
  		width:  275px;
  		padding:  20px;
  	}

  	img{
  		margin-top:  20px;
  		width: 80%;
  	}

  	input[type="text"], input[type="email"], input[type="password"] {
  		width:  100%;
  	}

  	label, ::placeholder{
  		width:  100%;
  	}

	#triangle {
		width: 126px;
	    height: 70px;
	    clip-path: polygon(00% 100%, 100% 0%, 100% 100%);
	    position: absolute;
	    background-color: #5AC8E0;
	    z-index: 1;
	    left: 148px;
    	top: 488px;
}


};




