<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ - Registration</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/login.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
    <h1>Register</h1>
    <div id="app" v-cloak>
		
		<!-- Login / Register Toggles -->
      <div class="actions">
        <button :class='[{ active: isDisabled("signin") }]' @click='setView("signin")'>Sign In
        </button>
        <button :class='[{ active: isDisabled("register") }]' @click='setView("register")'>Register
        </button>
      </div>
		
		<!-- Screens -->
      <transition name='form' mode='out-in'>
        <keep-alive>
          <component :feedback='feedback' :is="currentComponent" @register-form='handleForm' @signin-form='handleForm'></component>
        </keep-alive>
      </transition>
  
    </div>
  
    <!-- Sign Up  -->
    <template id="signUp">
      <form @submit.prevent='onSubmit' ref='form' action="" class='register-form'>
        <h2>New Account</h2>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input required type="text" v-model.trim='user.firstname' id='firstname' placeholder="first name">
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input required type="text" v-model.trim='user.lastname' id='lastname' placeholder="last name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input required type="email" v-model.trim='user.email' id='email' placeholder="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required type="password" v-model='user.password' placeholder="password" id='password' v-bind:class="[ user.password.length != 0 && user.password != user.passwordCheck ? 'invalid' : 'valid' ]">
        </div>
        <div class="form-group">
          <label for="passwordcheck">Confirm Password</label>
          <input required type="password" v-model='user.passwordCheck' placeholder="confirm password" id='passwordcheck' v-bind:class="[ user.password != user.passwordCheck ? 'invalid' : 'valid' ]">
        </div>
        <input type="submit" :disabled='!isFormValid' value='Register'>
      </form>
    </template>
  
    <!-- Sign In  -->
    <template id="signinIn">
      <form ref='form' @submit.prevent='handleForm' action="" class='signin-form'>
        <h2>Sign In</h2>
        <div class="form-group">
          <label for="email">Email</label>
          <input required v-model='user.email' type="email" id='email' placeholder="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required v-model='user.password' type="password" id='password' placeholder="password">
        </div>
        <input :disabled='!isFormValid' type="submit" value="Sign In">
      </form>
    </template>
  
    <!-- Success Message -->
    <template id="loginFeedback">
      <!-- 
        Easter egg! 
        
        When a user has successfully registered or signed up, 
        there is a third feedback screen which is not included
        in the mock ups. Please style these screens so they align 
        with the rest of the designs.
      -->
      <div class="feedback">
        <header>
          <h2>{{ title }}</h2>
        </header>
        <div v-if='feedback.type === "register"'>
          <h3>Welcome <strong>{{ feedback.data | name }}</strong>!</h3>
			    <p>You may now sign in.</p>
          <p>Please check the email address provided - {{feedback.data | email}} - to complete your registration.</p>
        </div>
        <div v-else>
          <p>Logging in...</p>
        </div>
      </div>
    </template>
  </body>
  
</html>